<!-- Latest-Blog -->
	<section id="blog">
    	<div class="container">
    		<div class="blog-section">
    			<div class="col-md-9 col-lg-9 mx-auto text-center title-section wow fadeInUp" data-wow-delay="0.6s">
    				<h2 class="title">{{ content.field_header.0}}</h2>
    				<p>{{ content.field_subtitle.0}}</p>
    			</div>  
    		   {{ content.field_view_reference_block}}	
    		</div>
    	</div>
    </section> 
    <!-- Blog-End -->

    