<!--Start Slider Area-->
	<section id="slider" class="slider-area">
		<div class="item" style="background-image: url({{file_url(content.field_banner_image['#items'].entity.uri.value)}})">
			<div class="overlay"></div>
			<div class="slide-caption">
			<div id="particles-js"></div>
				<div class="slider-inner">
					<h1 class="animated fadeInUpBig">{{content.field_title.0}}</h1>
					<p class="animated fadeInLeftBig">{{content.field_subtitle.0}}</p>
					<a class="custom-btn animated fadeInDownBig" href="{{content.field_button.0['#url'] }}">{{content.field_button.0['#title'] }} </a>
				</div>
			</div>
		</div>
	</section>
	<!--End Slider Area-->