 <!-- testimonial -->
    <section id="testimonial">
    	<div class="container-fluid">
    		<div class="row">
	    		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 rs-bg wow fadeInLeft" data-wow-delay="0.6s">
	    			<div class="testimonial-overlay image-background" style="background-image: url({{file_url(content.field_image['#items'].entity.uri.value)}});"></div>
	    		</div>
	    		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeInRight" data-wow-delay="0.6s">
	    			<div class="testimonial-overlay-bottom image-background" style="background-image: url({{file_url(content.field_background_image['#items'].entity.uri.value)}});"></div>		
	    			<div class="col-md-12 title-section"><h2 class="title">{{content.field_header.0}}</h2></div>	
				    {{ content.field_testimonial_block }}
    			</div>
    		</div>
    	</div>
    </section>
    <!-- testimonial end-->  
